NODE_ENV=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_NAME=
DB_URL=
JWT_EXPIRES_IN=
JWT_REFRESH_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_SECRET=
JWT_SECRET=
MAIL_FROM=
MAIL_HOST=
MAIL_PASS=
MAIL_USER=
NODE_ENV=
port=
port_socket=
vnp_ApiUrl=
vnp_HashSecret=
vnp_ReturnUrl=
vnp_TmnCode=
vnp_Url=