{
  "src/**/*.{ts,js}": ["eslint --fix", "prettier --config .prettierrc --write"],
  "test/**/*.{ts,js}": ["eslint --fix", "prettier --config .prettierrc --write"],
  "src/**/*.{json}": ["prettier --config .prettierrc --write"]
}
